<div class="main">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Petro" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Surname</mat-label>
      <input matInput placeholder="Pupkin" value="">
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Сhoose your date of birth</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>js technology</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let jstech of jstechs" [value]="jstech.value" >
          {{jstech.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width" *ngIf="selected != -1">
      <mat-label>version of {{jstechs[selected].viewValue}}</mat-label>
      <mat-select >
        <mat-option *ngFor="let jstech of jstechs[selected].version" [value]="jstech.v" >
          {{jstech.v}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <input type="email" name="email" ngModel [email]="true" class="example-full-width">
  </form>
</div>
